elpa
\#*
.\#*
*~
auto-save-list/
recentf
savehist
.lsp-session-v1
ac-comphist.dat
ido.last
network-security.data
smex-items
transient/
elpy/
eshell/
url/
.org-id-locations
org-caldav-*
/.recentf
/amx-items
/mspyls/
/oauth2.plstore
/org-gcal/
/request/
/init.el-cpy
/.last-package-update-day
/forge-database.sqlite
myinit.el
/org-roam.db
/eln-cache/
org-clock-save.el
org-clock-save.el
/elfeed.stats
/history
/projects
/tramp
bookmarks
